<section id="portfolio">
  <p>MY PROJECTS</p>
  <hr />
  <div>
    <article>
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
      <h4>HIT THE DOTS</h4>
      <p>Hit the dots is a game using HTML, CSS, Javascript</p>
      <p> <a href="https://sivanesan711.github.io/ProGrad_PROSHOW_1.0_Project.github.io/"><strong>Demo</strong></a></p>
    </article>

    <article>
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
      <h4>TEST MANAGEMENT PORTAL</h4>
      <p>This project is about Test Analysis Report using Java, OracleDB</p>
      <p> <a href="https://github.com/Sivanesan711/Week_6_Project_TEST_MANAGEMENT_PORTAL"><strong>view source code</strong></a></p>
    </article>

    <article>
      <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
      <h4>A Collusion Privacy Attack against Online Hackers </h4>
      <p>The project is about block the illegal users using their IP Address  </p>
      <p><a href="https://github.com/Sivanesan711/A_Collusion_Privacy_Attack_Against_Online_Hackers"><strong>view source code</strong></a></p>
    </article>

  </div>

</section>
