
  <section id="skills">
    <div id="skills-container">
      <div>
        <h4>TECHNICAL SKILLS</h4>
        <ul>
          <li>HTML</li>
          <li><progress id="file" value="80" max="100"></progress></li>
          <li>CSS</li>
          <li><progress id="file" value="80" max="100"></progress></li>
          <li>Javascript</li>
          <li><progress id="file" value="50" max="100"></progress></li>
          <li>JAVA</li>
          <li><progress id="file" value="90" max="100"></progress></li>
          <li>Oracle DB</li>
          <li><progress id="file" value="75" max="100"></progress></li>
        </ul>
      </div>

      <div>
        <h4>LANGUAGES</h4>
        <ul>
          <li>ENGLISH</li>
          <li><progress id="file" value="80" max="100"></progress></li>
          <li>TAMIL</li>
          <li><progress id="file" value="100" max="100"></progress></li>
          <li>ARABIC</li>
          <li><progress id="file" value="20" max="100"></progress></li>
        </ul>
      </div>

      <div>
        <h4>INTERPERSONAL SKILLS</h4>
        <ul>
          <li>Communication</li>
          <li><progress id="file" value="75" max="100"></progress></li>
          <li>Creativity</li>
          <li><progress id="file" value="90" max="100"></progress></li>
          <li>Adaptability</li>
          <li><progress id="file" value="90" max="100"></progress></li>
          <li>Collaboration</li>
          <li><progress id="file" value="100" max="100"></progress></li>
          <li>Leadership</li>
          <li><progress id="file" value="90" max="100"></progress></li>
        </ul>
      </div>

    </div>
  </section>
